body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    font-family:"Clear Sans", Helvetica, serif;
}

h1 {
    font-size: 5rem;
    line-height: 0.7;
    color: #776e65;
    margin: 0;
}

p, h2 {
    margin: 0;
}

.container {
    width: 465px;
    margin-top: 2rem;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #bbada0;
    border: 7px solid #bbada0;
    border-radius: 6px;
    margin-top: 1.3rem;
}

.grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #eee4da;
    color: #afa192;
    font-weight: bold;
    text-align: center;
    font-size: 3.8rem;
    line-height: 1.6;
}

.score-container {
    text-align: center;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #fff;
    width: 70px;
    height: 60px;
}

#score {
    font-size: 1.8rem;
}

.score-title {
    font-size: 1rem;
}
